@font-face {
  font-family: "Lunacy";
  src: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Lunacy.woff") format("woff"), url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Lunacy.woff2") format("woff2");

  font-family: "Creepy";
  src: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Creepy.woff?raw=true") format("woff"), url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Creepy.woff2?raw=true") format("woff2");

}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: "https://cdn.pixabay.com/photo/2018/10/20/22/22/halloween-3761909_1280.jpg";
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  background: url('/halloweenbackground.jpg') no-repeat;
  background-size: cover;
  margin-left: 300px;
  margin-top: 65px;
  padding-right: 200px;
  
}

#overalTable{
  display: flex;
  flex-direction: column;
  color: orange;
  font-size: 40px;
  padding-right: 30px;
  
} 
#output{
  color: white;
  font-size: 40px;
}

#scoreNum {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  
}

#levelNum {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  
}


.element{
  height: 50vh; /* Would mean 50% of Viewport height */
  width:  75vw; /* Would mean 75% of Viewport width*/
}

#score{
  font-family: Creepy, serif;
}

#level{
  font-family: Creepy, serif;
}

/* popup */

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #FF6D00;
  font-family: Creepy, serif;
}

.overlay-text-small {
  font-size: .3em;
}