#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: "https://cdn.pixabay.com/photo/2018/10/20/22/22/halloween-3761909_1280.jpg";
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  background: url('/halloweenbackground.jpg') no-repeat;
  background-size: cover;
  margin: 100px;
  padding-right: 200px
  
}

#overalTable{
  display: flex;
  flex-direction: column;
  color: orange;
  font-size: 40px;
  padding-right: 30px;
  
} 
#output{
  color: white;
  font-size: 40px;
}

#scoreNum {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

#levelNum {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}


.element{
  height: 50vh; /* Would mean 50% of Viewport height */
  width:  75vw; /* Would mean 75% of Viewport width*/
}