@font-face {
  font-family: "Creepy";
  src: url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Creepy.woff?raw=true") format("woff"), url("https://raw.githubusercontent.com/WebDevSimplified/Mix-Or-Match/master/Assets/Fonts/Creepy.woff2?raw=true") format("woff2");

}

#canvas {
  margin:0px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: "https://cdn.pixabay.com/photo/2018/10/20/22/22/halloween-3761909_1280.jpg";
  display: flex;
  align-items: center;
}

body{
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  background: url('./halloweenbackground.jpg') 0 0 no-repeat ;
  background-size: auto;
  margin-left: 125px;
  margin-top: 75px;
  padding-right: 200px;
  
}

#overalTable{
  display: flex;
  flex-direction: column;
  color: orange;
  font-size: 40px;
  padding-right: 30px;
  
} 
#output{
  color: white;
  font-size: 40px;
}

#scoreNum {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  
}

#levelNum {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  
}


.element{
  height: 50vh; /* Would mean 50% of Viewport height */
  width:  75vw; /* Would mean 75% of Viewport width*/
}

#score{
  font-family: Creepy, serif;
}

#level{
  font-family: Creepy, serif;
}

/* popup */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}